.App {
    font-family: sans-serif;
    text-align: center;
}

img {
    height: 150px;
}

h1 {
    color: #FFF;
    font-size: xx-large;
}

ul {
    padding: 0;
}

.choices {
    list-style-type: none;
    /* width: 200px; */
    margin: 10px;
}

.choices>button {
    width: 100%;
}